/*  your css code here. If applicable */
body{
	background-color:rgb(204,204,204);
}
a{
	text-decoration : none;
}
#id1{
	list-style-type : none;
}
#div1{
	background-color : white;
	border : 1px solid black;
}
#div2{
	background-color : white;
	backgroung-positon : centre;
	border : 1px solid;
}